<h3>Tusix mode</h3>

{% assign posts = collections.tusixmode %}
{% assign count = 5 %}
{% include "postlist.liquid" %}

<h3>Triết học tinh thần</h3>

{% assign posts = collections.articles %}
{% assign count = 5 %}
{% include "postlist.liquid" %}

<h3>Posts</h3>

{% assign posts = collections.posts %}
{% assign count = 5 %}
{% include "postlist.liquid" %}