<!-- (Tùy chọn)
<h3>Tusix mode</h3>

{% assign posts = collections.tusixmode %}
{% assign count = 5 %}
{% include "postlist.liquid" %}
<div style="height: 2em;"></div>

<h3>Triết học tinh thần</h3>

{% assign posts = collections.articles %}
{% assign count = 5 %}
{% include "postlist.liquid" %}
<div style="height: 2em;"></div>
-->


<div  class="topicMode">
    <h2>Posts</h2>
</div>
{% assign posts = collections.posts %}
{% assign count = collections.posts.length %}
{% include "postlist.liquid" %}

<style>
.topicMode {
    text-align: center;
  }

  .topicMode h2 {
  }
</style>